body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #181818;  
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f4f4f4;  
}

.form-container {
    background-color: #2c2c2c; 
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
    width: 500px;  
    box-sizing: border-box;
    border: 2px solid #fefefe;  
}

.form-title {
    text-align: center;
    color: #f4f4f4; 
    margin-bottom: 20px;
    font-size: 26px; 
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px; 
    font-weight: bold;
    color: #f4f4f4;  
    margin-bottom: 8px;
    display: block;
}

select, textarea, input[type="file"] {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #888; 
    width: 100%;
    font-size: 16px;
    background-color: #3a3a3a; 
    color: #f4f4f4;  
}

textarea {
    resize: vertical;
    min-height: 120px;  
}

button {
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}
button.smallButton{
    padding: 6px 10px;
    width:25%;
    margin-left:3%;
    margin-top:0;
}

#newCatLabel{
    margin-bottom: 0;
}

button:hover {
    background-color: #45a049;
}

form > div {
    margin-top: 10px;
}