/* .navbar-item{
    margin-right: 1rem;
    border-bottom: 3px solid cornflowerblue;
}
.navbar-item-highlight{
    margin-right: 1rem;
    color:white;
    border-bottom: 3px solid white;
} */
nav.navbar{
    background-color: #8B0000;
    color: #F5F5F5;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 1000; 
}

nav.navbar a.navbar-item {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    border-bottom: 3px solid transparent;
}

nav.navbar a.navbar-item-highlight {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: white;
    border-bottom: 3px solid white; /* White border for active item */
  }
  
 
  nav.navbar a.navbar-item:hover,
  nav.navbar a.navbar-item-highlight:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Slightly darker background on hover */
  }